*{
 margin: 0%;
 padding: 0%;
}
:root{
}
.cabecalho{
    background-color: rgb(241, 238, 243);
    padding: 50px;
}
.corpo{
    background-color: blueviolet;
}
.forter{
    background-color: blue;
}
.boton{
    position:fixed;
    top : 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
text-decoration: none;
    border-radius: 5px;    
}
.boton:hover{
    background: linear-gradient(to rigth,#b92424,#f17a7a,#750303) ;
}
.boton.active{
    font-size: 20px;
}